<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Biodata</h1>

        <form action="{% url 'biodata:biodata_page' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Submit!">
        </form>

        {% for biodata in biodatas %}
            <h5>{{ 'full_name'|title }}: {{ biodata.full_name }}</h5>
            <p>{{ 'name'|title }}: {{ biodata.name }}</p>
            <p>{{ 'age'|title }}: {{ biodata.age }}</p>
            <p>{{ 'birthday'|title }}: {{ biodata.birthday }}</p>
            <p>{{ 'address'|title }}: {{ biodata.address }}</p>
            <p>{{ 'education'|title }}: {{ biodata.education }}</p>
            <p>{{ 'hobby'|title }}: {{ biodata.hobby }}</p>
            <p>{{ 'favorite_food'|title }}: {{ biodata.favorite_food }}</p>
            <p>{{ 'favorite_subject'|title }}: {{ biodata.favorite_subject }}</p>
            <p>{{ 'number_of_siblings'|title }}: {{ biodata.number_of_siblings }}</p>
        {% endfor %}
    </div>
</body>
</html>